body {
    background-image: url('./bg-compressed.jpg');
    background-size: 100vw;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

.text-regular {
    color: white;
}

#fileresults, #fileresults a {
    color: white;
}